.chat-main {
  width: calc(100vw - 300px);
  float: left;
}

.main-header {
  padding: 0 40px;
  border-bottom: 1px solid #eeeeee;
  height: 100px;
  @include flex-style;
  overflow:scroll;
}
.main-header__left-box {
  margin-top: 35px;
 
}
.main-header__left__current-group {
  @include font-size(20px);
  color:#333333 ;
  margin-bottom: 15px;
}

.main-header__left-box__member-list {
  @include font-size(12px);
  color:#999999;
  display: flex;
}

.main-header__edit-btn {
  padding: 0px 20px;
  border: 1px solid #38aef0;
  height: 40px;
  line-height: 40px;
  color: #38aef0;
  margin-top: 30px;
  position:absolute;
  right: 40px;

}

.messages {
  
  padding:46px 40px;
  background-color: #fafafa;
  overflow:scroll;
  height:calc(100vh - 265px);
}

.message {
  padding-bottom: 40px;
}
.message__upper-info {
  display: flex;
  margin-bottom: 10px;
}

.message__upper-info__talker {
  @include font-size(16px);
  font-weight: bold;
  color: $gray-color;
}
.message__upper-info__date {
  @include font-size(12px);
  color: #999999;
  margin-left: 10px;
}

.message_text {
  @include font-size(14px);
  color:$gray-color;
  margin-bottom: 10px;
}

.form {
  background-color: #ddd;
  height: 50px;
  padding: 20px 40px;
}


form {
  display: flex;
}

.input-box {
  width: 100%;
  position: relative;
}

.input-box__text {
  height: 50px;
  width:95%;
  color: $gray-color;
  padding: 0 40px 0 10px;
  border-style: none;
  @include font-size(16px);
}

.input-box__image {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  @include font-size(1.3rem);
}

.input-box__image--icon {
  font-size: inherit;
}

.input-box__image--file {
  display: none;
}

.submit-btn {
  width: 100px;
  height: 50px;
  padding: 0 30px;
  margin-left: 15px;
  color: $white-color;
  cursor: pointer;
  background-color: #38aef0;
}